body {
    font-family: 'Ubuntu', sans-serif;
}

header {
    margin: -22px -8px 10px -8px;
    padding: 10px 0px;
    background-color: aquamarine;
}

#meme-image-container {
    position: relative;
    
    margin-top: 40px;
    border: 1px solid black;
    background-color: white;
    margin: 40px auto;
    width: 310px;
    height: 310px;
    z-index: 0;
    padding: 0;
}

#meme-insert {
    color: transparent;
}
#meme-text {
    position: absolute;
    top: 140px;
    left: 0px;
    width: 305px;
    word-wrap: break-word;
    z-index: 2;
    text-align: center;
    text-shadow: rgb(0, 0, 0) 5px 5px 5px;
    font-size: 30px;
    color: white;
    max-height: 80px;
    
}

#meme-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);  
    z-index: 1;
    width: 310px;
    height: 310px;
    max-width: 310px;
    max-height: 310px;
}

form {
    margin-top: 20px;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
}

.button-border {
    border-radius: 8px;
    color: white;
}

.meme-class {
    width: 70px;
    height: 70px;
    border: 1px solid black;
}

#fire {
    background-color: red;
}

#water {
    background-color: blue;
}

#earth {
    background-color: green;
}

button {
    cursor: pointer;
}

#inputs {
    display: inline;
}