#meme-image-container {
  left: 50%;
  margin: 0;
  margin-right: -50%;
  position: absolute;
  top: 30%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  background-color: white;
}

#output {
  width: 200px;
  height: 200px;
  
}

#meme-text {
  position: absolute;
  width: 200px;
  overflow-wrap: anywhere;
  color: white;
  font-size: 30px;
  text-shadow: 5px 5px 5px  black ;
}

#text-input {
  position: absolute;
  bottom: 229px;
}