#meme-image-container {
  background-color: white;
  border: 1px solid black;
}

#meme-text-container {
  z-index: 1;
  position: absolute;
  top: 400px;
}

#meme-text {
  text-shadow: 5px 5px 5px black;
  font-size: 30px;
  color: white;
}

section {
  margin: 10px 0;
}

#meme-image-container {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 400px;
  justify-content: center;
  align-items: center;
}

#meme-image img, #meme-image {
  width: 400px;
  height: 400px;
}

/* #meme-image {
  width: 400px;
  height: 400px;
  overflow: hidden;
}

#meme-image img {
  height: 400px;
  overflow: hidden;
} */

#prontos {
  display: flex;
  width: 400px;
  height: 70px;
  justify-content: space-between;
}

#prontos img {
  width: 70px;
  border: 1px solid black;
  height: inherit;
}
